# انسخ هذا الملف إلى ملف جديد باسم .env ثم ضع رابط Google Apps Script الخاص بك
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbx8PjsSIN6TVfmVFcSXKrvX3qrJmFNGvLo-OGs74axcdfxTpyUBrAcVfFkoAlcZ4gWJQw/exec
